<form class="editinfo_form">
    <h1>Update your account</h1>
    <p>Please fill in this form to update your information.</p>
    <hr>
    <label class="editinfo_label"><b>Name</b></label>
    <input style="height: 45px;" type="text" placeholder="Enter Name" name="name" required>
    <br>
    <br>
    <label>
    <input type="checkbox" checked="checked" name="Male" style="margin-bottom:15px">Male
    <input type="checkbox" checked="unchecked" name="Female" style="margin-bottom:15px">Female
    </label>
    
    <br>

    <label class="editinfo_label"><b>Password</b></label>
    <input style="height: 45px;" type="password" placeholder="Enter Password" name="psw" required>
    <br>
    <br>
    <label class="editinfo_label"><b>Repeat Password</b></label>
    <input style="height: 45px;" type="password" placeholder="Repeat Password" name="psw-repeat" required>
    <br>
    <br>

    <div class="clearfix">
     <button class="editinfo_btn" type="submit" class="savebtn">Save</button>
  </div>
</form>

</body>

