<%= image_tag "aboutus_moamoa.jpg", class: "main_img" %>

<br>
<br>
<br>
<br>
<h6 style="text-align: center;">We’ve launched a service, MOAMOA, that provides literally all of the reviews 
about items you’ve been looking for so you can easily find what you want.</h6>
<br>
<br>
<br>
<br>
<br>
<br>
<%= image_tag "kak.jpg", class: "main_img" %>
