
<h1 class="upload_text">New Cloth</h1>
 
<div class="upload_form">
 <div class="container_upload">   
  <%= render 'form' %>
  <br>
  <div class="upload_back">
   <%= link_to 'Back', cloths_path %>
  </div>
  <br>
 </div> 
</div>